<html>
    <head>
        <title>Cuppa & Code</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <h1 style="font-size: 40px; text-align: center;">☕ Cuppa & Code 💻</h1>
            <h3 style="text-align: center;">Amitrajit Bose</h3>
            <p>Have a Cup of Tea. Sit back & relax! <br>Blog will be live soon.. !</p>
        </div>

        {% for post in posts %}
            <div>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>
                    <em>Published: {{ post.published_date }}</em>
                </p>
            </div>
        {% endfor %}
    </body>
</html>