{% extends 'blog/base.html' %}

{% block content %}
    <div class="postbody">
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h2>{{ post.title }}</h2>
        <br>
        <p>{{ post.text|linebreaksbr }}</p>
        <!-- THE IF-ENDIF HERE ENSURES THAT THE DATE IS NOT EMPTY -->
        {% if post.published_date %}
            <div class="date">
                <p style="font-size: 12px;">
                    <br>
                    <em>Published on: {{ post.published_date }}</em> by <em>{{ post.author }}</em>
                    <br>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
